<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <!-- The path to load assemblies, like the path of the third-party libraries -->
    <Libraries>
        <Path Path="./Libraries/a6toolkits"/>
        <Path Path="./Libraries/avalonia"/>
        <Path Path="./Libraries/third-party"/>
    </Libraries>
    
    <!-- If you use layout module, the following configuration item will be used to generate a window -->
    <Window Title="UIDemo" BorderStyle="Default" Width="800" Height="600" PrimaryColor="#A6E3A1" BackgroundColor="#FFFFFF" />
</Configuration>
